{% extends "base.html.twig" %}

{% block followers %}
<div class="page--followers">
    <div class="section__list">
        <div class="container__navigation">
            <a href="/profile">
                <img src="{{ asset('/images/user_icon.png') }}"   alt="">
            </a>
            <a href="/feed">
                <img src="{{ asset('/images/feed_icon.png') }}"  alt="">
            </a>
            <a href="/people">
                <img src="{{ asset('/images/team_icon.png') }}"  alt="">
            </a>
            <a href="/messages">
                <img src="{{ asset('/images/comment_icon.png') }}"  alt="">
            </a>
        </div>
        <h1>Followers</h1>
        {% for follow in followers %}
            {% include 'elements/profile_tab.html.twig' with {'username': follow.username, 'lastName' : follow.lastName, 'id' : follow.id, 'firstName' : follow.firstName} %}
        {% endfor %}
    </div>
</div>
{% endblock %}


