{% extends "base.html.twig" %}

{% block home %}
<div class="section__hero">
    <div class="section__container">
        <h1 class=""> Twitthreader</h1>
        <span>Best of Both Worlds</span>
    </div>
</div>
{% endblock %}