body {
    position: relative;
    background: #efefee;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
