.profile__tab{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1.25rem;
    height: 6rem;
    box-shadow: 3px 6px 20px 0px rgb(255 255 255 / 27%), inset -11px -9px 9px 0px rgba(145, 192, 255, 0.6), inset -20px -14px 0px 0px rgb(255 255 255);
    column-gap: 1rem;
    
    img{
        height: 3.25rem;
        border-radius: 2.25rem;
        box-shadow: 1px 4px 9px 0px #e7e7e7;
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        li:first-child{
            font-weight: 600;
        }

        a{
            color: black;
            font-weight: 600;
            opacity: 0.6;
        }
    }
    
}