.sidebar--left{
    li{
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        align-items: center;
        width: 12rem;
        padding-bottom: 1.125rem;
        a{
            text-decoration: none;
            color: black;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            span{
                font-size: 1rem;
            }

            img{
                height: 2rem;
                padding-right: 0.75rem;
            }
        }
    }
}