
{% block profile_tab %}
    <div class="profile__tab">
        <img src="{{ asset('/images/zuck_image.png') }}" alt="">
        <ul>
            <li>Example Name</li>
            <li>@Username</li>
        </ul>
    </div>
{% endblock %}
