

{% block sidebar_left %}
<ul class="sidebar--left">
    <li class="action--profile">
        <a href="">
            <img src="{{ asset('/images/user_icon.png') }}"  alt="">
            <span>Profile</span>
        </a>
    </li>
    <li class="action--settings">
        <a href=""> 
            <img src="{{ asset('/images/gear_icon.png') }}"  alt="">
            <span>Settings</span>
        </a>
    </li>
    <li class="action--message">
        <a href="">  
            <img src="{{ asset('/images/comment_icon.png') }}"  alt="">
            <span>Messages</span>
        </a>
    </li>
    <li class="action--people">
        <a href="">        
            <img src="{{ asset('/images/team_icon.png') }}"  alt="">
            <span>Find people</span>
        </a>
    </li>
</ul>
{% endblock %}
