.page--chat{
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: linear-gradient(90deg, #0d1a83, #6b7fff);
    background-size: 200% 200%;
    animation: Animation 8s ease infinite;

    .section__profile{
        display: flex;
        flex-flow: column wrap;
        margin-top: 6rem;
        width: 17rem;

        .profile__tab{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255);
            border-radius: 1.25rem;
            height: 6rem;
            box-shadow: 3px 6px 20px 0px rgb(255 255 255 / 27%), inset -11px -9px 9px 0px rgba(145, 192, 255, 0.6), inset -20px -14px 0px 0px rgb(255 255 255);
            column-gap: 1rem;
            
            img{
                height: 3.25rem;
                border-radius: 2.25rem;
                box-shadow: 1px 4px 9px 0px #e7e7e7;
                margin-right: 1rem;
            }
            ul{
                list-style-type: none;
                padding-left: 0;
                li:first-child{
                    padding-bottom: 0.5rem;
                    font-weight: 600;
                }
            }
            
        }

        .profile__actions{
            margin-top: 2rem;
            box-shadow: 3px 6px 20px 0px rgb(255 255 255 / 27%), inset -11px -9px 9px 0px rgba(145, 192, 255, 0.6), inset -20px -14px 0px 0px rgb(255 255 255);
            background-color: rgb(255, 255, 255);
            border-radius: 1.25rem;
            height: 35%;

            li{
                list-style-type: none;
            }
        }
        
        .profile__tab--search{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgb(255, 255, 255);
            border-radius: 1.25rem;
            margin-top: 2rem;
            height: 6rem;
            box-shadow: 3px 6px 20px 0px rgb(255 255 255 / 27%), inset -11px -9px 9px 0px rgba(145, 192, 255, 0.6), inset -20px -14px 0px 0px rgb(255 255 255);
        }
        #ct{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1rem;
            
            input{
                border: none;
                outline: none;
                border-bottom: 1px rgba(0, 0, 0, 0.23) solid;
                margin-bottom: 1rem;
            }
        }
    }

    .section__chat{
        display: flex;
        flex-flow: row wrap;
        max-height: 82%;
        margin-top: 6rem;
        margin-left: 4rem;
        padding: 2rem 1rem 0 1rem;
        background-color: rgb(255, 255, 255);
        border-radius: 1.25rem;
        width: 48%;
        box-shadow: 3px 6px 20px 0px rgb(255 255 255 / 27%), inset -11px -9px 9px 0px rgba(145, 192, 255, 0.6), inset -20px -14px 0px 0px rgb(255 255 255);
        overflow-x: hidden;
        overflow-y: hidden;
        h1{
            margin-bottom: 3rem;
        }

        .chat__wrapper{
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            align-content: center;
            justify-content: start;

            .wrapper_wrapping_wrappers_the_ultimate_wrapper{
                margin-bottom: 2rem;

                .wrapper__link{
                    color: black;
                    margin-top: 1rem;
                }

                .profile__tab{
                    border-left: 1px solid rgba(16, 37, 161, 0.171);
                    border-top: 1px solid rgba(16, 37, 161, 0.171);
                    cursor: pointer;
                }
            }
        }

        .chat__sidebar{
            display: flex;
            flex-flow: column;
            align-content: center;
            width: 25%;
            height: 97%;
            overflow-y: auto;
            padding-right: 1.25rem;
            border-right: 1px solid rgba(0, 0, 0, 0.196);
            .profile__tab{
                border-left: 1px solid rgba(16, 37, 161, 0.171);
                border-top: 1px solid rgba(16, 37, 161, 0.171);
                margin-bottom: 1rem;
                cursor: pointer;

                a{
                    img{
                        height: 1.8rem;
                        font-size: 0.5rem;
                    }
                }
            }
        }
        
        .chat__window{
            width: 70%;
            max-height: 90%;
            display: flex;
            flex-flow: column;
            padding-bottom: 2rem;
            .window__messages{
                display: flex;
                margin-left: 1rem;
                margin-right: 1rem;
                height: 100%;
                overflow-y: auto;
                flex-flow: column;
                align-content: center;
                .message--current, .message--other{
                    border-radius: 1.5rem;
                    margin-bottom: 1rem;
                }
                .message--current{
                    padding: 1rem;
                    align-self: flex-end;
                    border: 1px black solid;
                }
                .message--other{
                    padding: 1rem;
                    align-self: flex-start;
                    background-color: #0d1a83;
                    color: white;
                }

            }
            .window__input{
                border-top: 1px solid rgba(0, 0, 0, 0.196);
                padding-left: 1rem;
                padding-top: 1rem;
                #send_message_form{
                    textarea{
                        border: none;
                        font-size: 1.125rem;
                        font-style: italic;
                        width: 35rem;
                        max-width: 45rem;
                        margin-bottom: 2rem;
                        outline: none;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        width: 80%;
                        justify-self: end;
                    }
                    button{
                        border: none;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        align-items: center;
                        width: 5rem;
                        height: 2rem;
                        border-radius: 2rem;
                        text-decoration: none;
                        color: white;
                        background: linear-gradient(135deg, #0d1a83, #e66bff);
                        background-size: 200% 200%;
                        animation: Animation 4s ease infinite;
                        cursor: pointer;
                }
                }
            }
        }
    
        
    }



    .section__feed::-webkit-scrollbar {
        width: 20px;
    }
      
      .section__feed::-webkit-scrollbar-track {
        background-color: #e4e4e4;
        height: 1rem;
      }
      
      .section__feed::-webkit-scrollbar-thumb {
        background-color: #a1a1a153;
        border-radius: 100px;
      }
}