.page--register{
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: linear-gradient(90deg, #0d1a83, #6b7fff);
    background-size: 200% 200%;
    animation: Animation 8s ease infinite;

    .section__register{
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 50%;
        padding-top: 2rem;
        margin-top: 6rem;
        margin-left: 4rem;
        background-color: rgb(255, 255, 255);
        border-radius: 1.25rem;
        width: 30%;
        box-shadow: 3px 6px 20px 0px rgb(255 255 255 / 27%), inset -11px -9px 9px 0px rgba(145, 192, 255, 0.6), inset -20px -14px 0px 0px rgb(255 255 255);
        overflow-y: auto;
        overflow-x: hidden;

        form{
            display: flex;
            flex-flow: column wrap;
            row-gap: 1rem;
        }
    }
}