.page--settings{
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: linear-gradient(90deg, #0d1a83, #6b7fff);
    background-size: 200% 200%;
    animation: Animation 8s ease infinite;

    .section__container{
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 55%;
        padding-top: 2rem;
        margin-top: 6rem;
        margin-left: 4rem;
        padding-bottom: 2rem;
        background-color: rgb(255, 255, 255);
        border-radius: 1.25rem;
        width: 35%;
        box-shadow: 3px 6px 20px 0px rgb(255 255 255 / 27%), inset -11px -9px 9px 0px rgba(145, 192, 255, 0.6), inset -20px -14px 0px 0px rgb(255 255 255);
        overflow-y: auto;
        overflow-x: hidden;

        .container__navigation{
            padding-bottom: 0.5rem;
            img{
                height: 3rem;
                padding-right: 0.5rem;
            }
        }

        h1{
            padding-bottom: 2rem;
        }

        form{
            #settings{
                display: flex;
                flex-flow: column wrap;
                row-gap: 1.5rem;
                div{
                    display: flex;
                    flex-flow: row wrap;
                    align-items: start;
                    justify-content: space-between;
                    width: 100%;
                    label{
                        padding-right: 1rem;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0.382);
                    }
                    
                    textarea{
                        max-width: 25rem;
                        width: 18rem;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        font-family: 'Roboto', sans-serif;
                        border-bottom: 1px rgba(0, 0, 0, 0.23) solid;
                    }
                    
                    button{
                        margin-bottom: 1rem;
                    }
                }

                div:nth-child(5){
                    display: flex;
                    justify-content: end;
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                    button{
                        cursor: pointer;
                        border: none;
                        background: linear-gradient(90deg, #2e0d83, #7f6bff);
                        background-size: 200% 200%;
                        animation: Animation 3s ease infinite;
                        color: white;
                        width: 10rem;
                        height: 2.5rem;
                        border-radius: 2rem;
                        margin: 0;
                        font-size: 0.8rem;
                        transform: translate(0px, 32px);
                    }
                }
            }
        }
    }
}